.card {
    background-color: black;
    color: white;
    border: 5px solid grey;
    border-radius: 7px;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
}
.card:hover {
    border-color: #fc7474;
}
.imgContainer {
    grid-row: 1;
}
.imgContainer img {
    width: 100%;
    height: 250px;
}
.card a {
    color: white;
}
.title {
    grid-row: 2;
    text-align: center;
}

