.card {
    background-color: black;
    color: white;
    border: 5px solid grey;
    border-radius: 7px;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
}
.card:hover {
    border-color: #fc7474;
}
.card img {
    width: 100%;
    height: 100%;
}
.card a {
    color: white;
}
.title {
    text-align: center;
}

