.stack {
    margin-top: 2rem;
}
.title {
    font-size: 2rem;
    text-decoration: underline;
}
.stackList {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, auto);
}
.stackList img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .stackList {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}
