.stack {
    margin-top: 2rem;
}
.title {
    font-size: 2rem;
    text-decoration: underline;
}
.stackList {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}
.stackList img {
    width: 200px;
}
