.contacts {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.title {
    font-size: 2rem;
    text-decoration: underline;
}
.contactList {
    margin-top: 1rem;
    font-size: 1.4rem;
    list-style: none;
    background-color: white;
    padding: 1rem;
    border: 1px solid #d2d1d1;
    box-shadow: 0 0 10px grey;
    height: 83%;
}
.contactList a {
    color: black;
    text-decoration: none;
}
.contactList a:hover {
    text-decoration: underline;
}
