.slider {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
}
.navigation {
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.projectList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.disabled {
    opacity: 0;
    font-size: 2rem;
    padding: 0.5rem;
}

@media screen and (max-width: 991px) {
    .navigation {
        padding: 0.1rem;
        font-size: 1.3rem;
    }
    .projectList {
        gap: 0.2rem;
    }
}
@media screen and (max-width: 575px) {
    .projectList {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}
