.slider {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    justify-content: space-between;
}
.navigation {
    flex: 1 1 auto;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.projectList {
    display: flex;
    gap: 1rem;
}
.disabled {
    opacity: 0;
    font-size: 2rem;
    padding: 0.5rem;
}
